<h1><%= @post.title %></h1>
<p><%= @post.description %></p>

<%= link_to 'comment', post_comments_path(@post) %>
<%= link_to 'edit', edit_post_path(@post) %>
<%= link_to 'delete', post_path(@post),
                      method: :delete,
                      data: { confirm: 'Are you sure you want to delete this post?' } %>
