<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='contents'>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand">Dan's Awesome Blog</a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Posts', posts_path %></li>
            <li><%= link_to 'New Post', new_post_path %></li>
            <li><%= link_to 'Sign In', new_post_path %></li>
          </ul>
        </div>
      </nav>

      <!-- <nav>
        <%= link_to 'Home', home_path %>
        |
        <%= link_to 'About', about_path %>
        |
        <%= link_to 'Posts', posts_path %>
        |
        <%= link_to 'New Post', new_post_path %>
      </nav> -->
      <%= yield %>
    </div>
  </body>
</html>
